body {
    margin: 0;
}


/* background color */

.bg1 {
    background-color: aquamarine;
}

.bg2 {
    background-color: rgba(114, 207, 134, 0.863);
}

.bg3 {
    background-color: rgb(185, 160, 45);
}

.bg4 {
    background-color: rgb(50, 79, 173);
}

.bg5 {
    background-color: rgb(201, 171, 221);
}

.bg6 {
    background-color: rgb(177, 110, 47);
}

.row {
    width: 800px;
    margin: auto;
    margin-top: 100px;
}

.col {
    width: 200px;
    height: 200px;
    float: left;
}