body {
    margin: 0;
}


/* background color */

.bg1 {
    background-color: darkslategrey;
}

.bg2 {
    background-color: rgb(218, 159, 32);
}

.bg3 {
    background-color: rgb(206, 65, 100);
}

.bg4 {
    background-color: rgb(154, 50, 173);
}

.bg5 {
    background-color: rgb(41, 89, 97);
}

.bg6 {
    background-color: rgb(221, 218, 55);
}

.row {
    width: 800px;
    margin: auto;
    margin-top: 100px;
}

.col {
    width: 200px;
    height: 100px;
    float: left;
}

.col1 {
    width: 200px;
    height: 200px;
    float: left;
}